@model EmptyAppModels.Models.Person
<!DOCTYPE html>

<html>
<head>
    <title>Success! @Model.Name</title>
</head>
<body>
<div>
    Name: @Model.Name 
    Age: @Model.Age
    
    <script>
        window.onbeforeunload = function (e) 
        {
            window.location.replace("/");
        }
    </script>
</div>
</body>
</html>